<div>
  <h1 class="text-center m-5">My Weboook</h1>
</div>
<div class="container container-user-profile">
  <div class="row">
    <aside class="col-md-4 m-2 d-flex flex-column">
      <%= image_tag "w_thumnail.png", alt: "Letter W: user profile image", id: "assets", class: "image-profile mx-auto" %>
      <ul class="mx-auto p-0">
        <li class="my-3"><a type="button" class="mx-auto btn btn-warning" href="#">Weboookを追加</a></li>
        <li class="my-3"><a class="col-md-3 text-dark" href="#">Saveリスト ></a></li>
      </ul>
      <div class="m-2 height-box d-flex align-items-end">
        <a class="mx-auto text-dark" href="#">ログアウト</a>
      </div>
    </aside>
    <div class="col-sm-8">
      <!--Add bookmarks lists-->
    </div>
  </div>
</div>