<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="bg p-4 rounded">
      <div>
          <h3 class="bold-font">Bookmark Your Favourite Article with</h3>
          <h1 class="bold-font">Weboook</h1>
          <% if logged_in? %>
            <%= link_to 'WEBOOOK', new_bookmark_path, class: 'btn btn-lg btn-warning' %>
          <% else %>
            <%= link_to 'SIGN UP!', signup_path, class: 'btn btn-lg btn-warning' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <aside class="col-sm-6">
      <h3>What is Weboook?</h3>
      <p class="bold rounded">Weboook is a service you can bookmark and save your favorite article on a website. </p>
      <p>When you added the web article in a bookmark folder on your web browser, it's difficult to find the article when you want to read again. Weboook can help you organise bookmarks for articles you-want-to-read-again! You can add a title in order to find the article easily and you also can leave notes with that article like what you feel or your opinion with the link together.</p>
    </aside>
    <div class="col-sm-6 p-0">
      <%= image_tag "books.png", alt: "books and PC", id: "assets", class: "image" %>
    </div>
  </div>
</div>