<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="bg p-4 rounded">
      <div>
          <h3>Webサイトの記事をBookmarkするサービス</h3>
          <h1>Weboook</h1>
          <a type="button" class="col-md-4 btn btn-warning button-" href="#">登録</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <aside class="col-sm-6">
      <h3>Weboookって？</h3>
      <p class="bold rounded">Weboook(ウェブゥーク)とは、あとで読み返したいWebサイトの記事をブックマークして保存できるサービスです。</p>
      <p>ブラウザのブックマークに入れてしまうと他のウェブサイトと混ざってしまい読み返しがしづらいことがありますよね。それを解消するのがWeboook。自分でタイトルをつけるのでなんの記事か見つけやすく、メモも残せるので、読んだときに感じたことや、意見を一緒に残しておけます。記事へのリンクも保存でき、いつでも読み返しが可能です。</p>
    </aside>
    <div class="col-sm-6 p-0">
      <%= image_tag "books.png", alt: "books and PC", id: "assets", class: "image" %>
    </div>
  </div>
</div>