* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.jumbotron {
  background-image: url('Laptop.png');
  background-size:cover;
  background-position: 50% 50%;
  text-align: center;
}

.bg {
  background-color: rgba(255, 250, 250, 0.5);
}

.navbar {
  background-color: #f67da2;
}

.bold {
  font-weight: bolder;
  background-color: rgba(255, 193, 7, 0.5)
}

.image {
  height: auto;
  width: 100%;
  float: left;
	display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-profile {
  height: auto;
  width: 50%;
  float: left;
	display: block;
  border-radius: 2%;
}

.container-profile {
  height: 70%;
}


ul {
  list-style-type: none;
}

hover:hover {
  color: rgba(255, 193, 7, 0.5);
}

.nav-hover {
  color: white;
}

.nav-hover:hover, .nav-hover:active {
  color: rgb(255, 193, 7) !important;
}

.link1 {
  color: #f67da2;
}

.link1:hover, .link1:active {
  color: rgb(255, 193, 7) !important;
}

.text-dark {
  color: black;
}

.text-dark:hover, .text-dark:active {
  color: rgb(255, 193, 7) !important;
}

.text-delete:hover, .text-delete:active {
  color: rgb(51, 51, 51) !important;
}

.card-header {
  background-color: rgb(200, 222, 239);
}

.small {
  font-size: 0.9rem;
}

.card-title {
  font-size: x-large !important;
}