<header>
  <nav class="navbar navbar-expand-sm justify-content-between">
    <a class="navbar-brand nav-hover" href="/">Weboook</a>
    <div class="navbar-nav justify-content-end">
      <% if logged_in? %>
        <%= link_to 'My Weboook', user_path(current_user), class: 'nav-link active nav-hover' %>
      <% else %>
        <%= link_to 'ログイン', login_path, class: 'nav-link active nav-hover' %>
      <% end %>
    </div>
  </nav>
  
</header>