<heade>
  <nav class="navbar navbar-expand-sm justify-content-between">
    <a class="navbar-brand text-white" href="/">Webook</a>
    <div class="navbar-nav justify-content-end">
      <!--イフ入れる-->
        <a class="nav-item nav-link active text-white" href="#">My Weboook</a>

        <a class="nav-item nav-link active text-white" href="#">ログイン</a>

    </div>
  </nav>
  
</header>